.profile-page {
    background-color: #F5EAEA;
}

.card-border {
    border-radius: 10px;
    border: 1px solid #E8A3B0;
    box-sizing: border-box;
}

.profile-page-main-padding {
    padding: 5% 15%;
}

.profile-name {
    font-size: 20px;
    margin-bottom: 30px;
}

.profile-image {

    border: 2px solid #E8A3B0;
    border-radius: 100%;
}

.personal-info {
    padding: 20px 0px 50px 0px;
}

.personal-info .left-side-padding {
    padding: 0px 65px;
}


.personal-info .edit-profile-button {
    background-color: #E8A3B0;
    color: white;
    border-radius: 14px;
    height: 48px;
    padding: 14px;
}

.profile-option-label {
    margin-bottom: 15px;
}

.user-title {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 52px;
}





.user-title {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 52px;
}

.full-width {
    width: 100%;
}

.bg-white {
    background-color: white;
}

.grey-txt {
    color: black;
    opacity: 0.4;
}

.dark-grey-txt {
    color: black;
    opacity: .75;
}

.semi-bold {
    font-weight: 600;
}

.txt-size-regular {
    font-size: 1.1rem;
}

.txt-left {
    text-align: left;
}